* {
  margin: 0;
  padding: 0;
}
font {
  font-weight: normal;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}
.nav {
  height: 60px;
  margin: 0 auto;
  background: black;
}
.nav .logo {
  float: left;
  margin-top: 10px;
  margin-left: 25px;
}
.nav .ul1 {
  float: left;
  margin-left: 25px;
}
.nav .ul1 li {
  float: left;
  line-height: 60px;
  height: 60px;
}
.nav .ul1 li a {
  font-size: 14px;
  width: 80px;
  color: white;
  display: block;
  text-align: center;
}
.nav .ul1 li:hover {
  background: #5e5e5e;
}
.nav .login {
  float: right;
  margin-right: 28px;
}
.nav .login li {
  float: right;
  line-height: 60px;
  height: 60px;
  font-size: 14px;
  display: block;
  width: 58px;
  text-align: center;
}
.nav .login li .erweima1 {
  position: absolute;
  top: 66px;
  right: 30px;
  display: none;
  z-index: 99999;
}
.nav .login li span {
  font-weight: bold;
  font-size: 18px;
  color: #787d82;
  display: block;
}
.nav .login li span:hover {
  color: red;
  cursor: pointer;
}
.nav .login li a {
  color: #787d82;
}
.nav .login li a:hover {
  color: red;
}
.nav .login .li_ma:hover .erweima1 {
  display: block;
}
.nav .search {
  float: right;
  height: 38px;
  width: 240px;
  margin-right: 18px;
  line-height: 60px;
  border-bottom: 1px solid #d9dde1;
  padding-bottom: 10px ;
  color: white;
}
.nav .search .search_text {
  float: left;
  width: 220px;
}
.nav .search .search_text1 {
  padding: 5px 10px;
  border: none;
  background: none;
}
.nav .search .search_pic span:hover {
  color: red;
  cursor: pointer;
}
section {
  height: 2948px;
}
section .sec1 .title {
  height: 60px;
  width: 1200px;
  margin: 0 auto;
  line-height: 60px;
  color: #010101;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #d0d6d9;
}
section .sec1 .sec1_text {
  width: 1240px;
  margin: 0 auto;
}
section .sec1 .sec1_text .texts {
  width: 1280px;
  margin-top: 10px;
}
section .sec1 .sec1_text .texts .text {
  float: left;
  width: 240px;
  height: 330px;
  padding: 20px 20px;
  margin-left: 40px;
  transition: all .5s;
}
section .sec1 .sec1_text .texts .text h3 {
  line-height: 38px;
  color: #14191e;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}
section .sec1 .sec1_text .texts .text .span1 {
  display: inline-block;
  margin-right: 4px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #787d82;
  background-color: #edf1f2;
  vertical-align: middle;
}
section .sec1 .sec1_text .texts .text .span2 {
  color: #787d82;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
section .sec1 .sec1_text .texts .text:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
section .sec2 {
  clear: both;
}
section .sec2 .title1 {
  height: 60px;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #d0d6d9;
}
section .sec2 .title1 span {
  line-height: 60px;
  color: #010101;
  font-size: 16px;
  font-weight: 700;
}
section .sec2 .title1 ul {
  margin-top: 20px;
  font-size: 12px;
}
section .sec2 .title1 ul li {
  height: 20px;
  float: left;
  line-height: 20px;
  margin-left: 20px;
  color: #14191e;
  text-align: center;
}
section .sec2 .title1 ul li a {
  display: block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 0 6px;
  font-size: 12px;
}
section .sec2 .title2 {
  height: 40px;
  width: 1200px;
  line-height: 40px;
  background-color: #f9f9f9;
  border-top: 1px solid #d0d6d9;
  font-size: 12px;
  margin-top: 52px;
  margin-left: 75px;
}
section .sec2 .title2 a {
  margin-left: 20px;
}
section .sec2 .texts {
  width: 1280px;
  margin-top: 10px;
  margin-left: 55px;
}
section .sec2 .texts .text {
  float: left;
  width: 240px;
  height: 330px;
  padding: 20px 20px;
  margin-left: 40px;
  transition: all .5s;
}
section .sec2 .texts .text h3 {
  line-height: 38px;
  color: #14191e;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}
section .sec2 .texts .text .span1 {
  display: inline-block;
  margin-right: 4px;
  padding: 0 7px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #787d82;
  background-color: #edf1f2;
}
section .sec2 .texts .text .span2 {
  color: #787d82;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
section .sec2 .texts .text:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
section .sec3 {
  clear: both;
  width: 360px;
  height: 30px;
  margin: 0  auto ;
  padding-top: 40px;
}
section .sec3 li {
  float: left;
  line-height: 30px;
  margin-left: 20px;
  font-size: 14px;
}
section .sec3 .sy {
  color: #c8cdd2;
}
section .sec3 .a_1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: red;
  text-align: center;
}
section .sec3 .a_2:hover {
  color: red;
  display: block;
  border-bottom: 1px solid red;
}
.foot {
  border-top: 1px solid #e2e4e6;
  font-size: 12px;
  color: #787d82;
  background: #000000;
  height: 100px;
}
.foot #f_left {
  width: 60%;
  height: 100%;
  float: left;
  font-size: 12px;
  color: #c8cdd2;
}
.foot #f_left ul {
  padding-top: 30px ;
  margin-left: 110px;
}
.foot #f_left ul li {
  float: left;
  margin-right: 30px;
}
.foot #f_left ul li a {
  color: rgba(255, 255, 255, 0.7);
}
.foot #f_left ul li a:hover {
  color: white;
}
.foot #f_left p {
  margin-left: 110px;
  margin-top: 10px;
  color: #787d82;
}
.foot #f_right {
  width: 40%;
  height: 100%;
  float: left;
}
.foot #f_right ul {
  width: 163px;
  height: 35px;
  margin-top: 30px;
  margin-left: 270px;
  padding-left: 30px;
}
.foot #f_right ul li {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 6px 0;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.foot #f_right ul li:hover {
  color: white;
}
.foot #f_right ul .li1 {
  background: url("../img/footer-sprite.png") no-repeat;
  background-position: 0 -279px;
}
.foot #f_right ul .li1 .weixin {
  width: 172px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  top: 3043px;
  right: 132px;
  display: none;
}
.foot #f_right ul .li2 {
  background: url("../img/footer-sprite.png") no-repeat;
  background-position: 0 -321px;
}
.foot #f_right ul .li3 {
  background: url("../img/footer-sprite.png") no-repeat;
  background-position: 0 -363px;
}
.foot #f_right ul li:hover {
  opacity: 1;
}
.foot #f_right ul .li1:hover .weixin {
  display: block;
}
